In [105]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools
import keras

In [106]:
#Import Keras module
from keras import optimizers
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, advanced_activations
from keras.utils.np_utils import to_categorical
from keras.callbacks import ModelCheckpoint, EarlyStopping

In [107]:
#pretty plots
%matplotlib inline

#Load the index data
raw_data = pd.read_csv('price_only.csv', skiprows=1, parse_dates=['Date']).set_index(['Date'])
raw_data.tail()

,RET,RET_L1,RET_L2,RET_L3,RET_L4,RET_L5,RET_L6,RET_L7,RET_L8,RET_L9,...,RET_L11,RET_L12,RET_L13,RET_L14,RET_L15,RET_L16,RET_L17,RET_L18,RET_L19,RET_L20
Date,,,,,,,,,,,,,,,,,,,,,
2017-08-30,28.85,28.50,28.65,28.55,28.20,28.15,27.90,27.75,28.05,28.10,...,27.90,27.65,28.15,28.45,28.55,28.35,28.25,28.25,28.25,28.20
2017-08-31,28.75,28.85,28.50,28.65,28.55,28.20,28.15,27.90,27.75,28.05,...,27.85,27.90,27.65,28.15,28.45,28.55,28.35,28.25,28.25,28.25
2017-09-01,28.75,28.75,28.85,28.50,28.65,28.55,28.20,28.15,27.90,27.75,...,28.10,27.85,27.90,27.65,28.15,28.45,28.55,28.35,28.25,28.25
2017-09-04,28.60,28.75,28.75,28.85,28.50,28.65,28.55,28.20,28.15,27.90,...,28.05,28.10,27.85,27.90,27.65,28.15,28.45,28.55,28.35,28.25
2017-09-05,28.60,28.60,28.75,28.75,28.85,28.50,28.65,28.55,28.20,28.15,...,27.75,28.05,28.10,27.85,27.90,27.65,28.15,28.45,28.55,28.35

In [108]:
raw_data['PRED'] = raw_data['RET'].shift(-1)
raw_data = raw_data.drop(raw_data.index[-1:])

In [109]:
raw_data.tail()

,RET,RET_L1,RET_L2,RET_L3,RET_L4,RET_L5,RET_L6,RET_L7,RET_L8,RET_L9,...,RET_L12,RET_L13,RET_L14,RET_L15,RET_L16,RET_L17,RET_L18,RET_L19,RET_L20,PRED
Date,,,,,,,,,,,,,,,,,,,,,
2017-08-29,28.50,28.65,28.55,28.20,28.15,27.90,27.75,28.05,28.10,27.85,...,28.15,28.45,28.55,28.35,28.25,28.25,28.25,28.20,27.90,28.85
2017-08-30,28.85,28.50,28.65,28.55,28.20,28.15,27.90,27.75,28.05,28.10,...,27.65,28.15,28.45,28.55,28.35,28.25,28.25,28.25,28.20,28.75
2017-08-31,28.75,28.85,28.50,28.65,28.55,28.20,28.15,27.90,27.75,28.05,...,27.90,27.65,28.15,28.45,28.55,28.35,28.25,28.25,28.25,28.75
2017-09-01,28.75,28.75,28.85,28.50,28.65,28.55,28.20,28.15,27.90,27.75,...,27.85,27.90,27.65,28.15,28.45,28.55,28.35,28.25,28.25,28.60
2017-09-04,28.60,28.75,28.75,28.85,28.50,28.65,28.55,28.20,28.15,27.90,...,28.10,27.85,27.90,27.65,28.15,28.45,28.55,28.35,28.25,28.60

In [122]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1,1))
scaler = scaler.fit(X)
scaler.transform(X)

array([[-0.30638298, -0.32340426, -0.29787234, ..., -0.38723404,
        -0.41276596, -0.4212766 ],
       [-0.26808511, -0.30638298, -0.32340426, ..., -0.37021277,
        -0.38723404, -0.41276596],
       [-0.2893617 , -0.26808511, -0.30638298, ..., -0.37021277,
        -0.37021277, -0.38723404],
       ...,
       [ 0.7106383 ,  0.71914894,  0.6893617 , ...,  0.66808511,
         0.66808511,  0.66808511],
       [ 0.7106383 ,  0.7106383 ,  0.71914894, ...,  0.67659574,
         0.66808511,  0.66808511],
       [ 0.69787234,  0.7106383 ,  0.7106383 , ...,  0.69361702,
         0.67659574,  0.66808511]])

In [111]:
#Split into training set and test set
train_size = 0.8 #Again parameter to tune
val_size = (1 - train_size) * 0.5

train_cut_index = int(np.floor(train_size * X.shape[0]))
val_cut_index = int(np.floor((train_size + val_size) * X.shape[0]))

X_train = np.array(X.iloc[0:(train_cut_index-1),:])
X_val = np.array(X.iloc[train_cut_index:(val_cut_index - 1),:])
X_test = np.array(X.iloc[val_cut_index:X.shape[0],:])

y_train = y[0:(train_cut_index-1)]
y_val = y[train_cut_index:val_cut_index-1]
y_test = y[val_cut_index:len(y)]

#Preproc the y_train and y_test using to_categorical function
#y_train = to_categorical(y_train, num_classes=3)
#y_val = to_categorical(y_val, num_classes=3)
#y_test = to_categorical(y_test, num_classes=3)

In [112]:
#Reshape data for inputting into LSTM
timestep = 1
X_train = np.reshape(X_train, (X_train.shape[0], timestep, X_train.shape[1]))
X_val = np.reshape(X_val, (X_val.shape[0], timestep, X_val.shape[1]))
X_test = np.reshape(X_test, (X_test.shape[0], timestep, X_test.shape[1]))

y_train = np.reshape(y_train, (y_train.shape[0], timestep, 1))
y_val = np.reshape(y_val, (y_val.shape[0], timestep, 1))
y_test = np.reshape(y_test, (y_test.shape[0], timestep, 1))

C:\Users\bchik\AppData\Local\Continuum\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:57: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  return getattr(obj, method)(*args, **kwds)

In [120]:
def fit_lstm(train, val, batch_size, epoch, perceptrons):
    model = Sequential()
    model.add(LSTM(neurons, input_shape=train.shape[1:]))
    model.add(Dense(1))
    model.compile(loss='mean_squared_error', optimizer='adam')
    for i in range(epoch):
        model.fit(train, val, epochs=1, batch_size=batch_size, verbose=0, shuffle=False)
        model.reset_states()
    return model

In [121]:
def forecast_lstm(model, batch_size, X):
	X = X.reshape(1, 1, len(X))
	yhat = model.predict(X, batch_size=batch_size)
	return yhat[0,0]