# Prediction As Classification
Continuing the 2800-HK price prediction from classification perspective

## Step 1: Import Modules and load raw data

In [79]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools
import keras

In [80]:
#Import sklearn
from sklearn.preprocessing import scale

In [81]:
#Import Keras module
from keras import optimizers
from keras.models import Sequential
from keras.layers import *
from keras.utils.np_utils import to_categorical
from keras.callbacks import ModelCheckpoint, EarlyStopping

In [82]:
#pretty plots
%matplotlib inline

In [83]:
#Import price data
#Load the historical prices of 2800-HK, with lags 1 to lag 20
price_hist_data = pd.read_csv('price_only.csv', skiprows=1, parse_dates=['Date']).set_index(['Date'])
price_hist_data.head()

,P,P_L1,P_L2,P_L3,P_L4,P_L5,P_L6,P_L7,P_L8,P_L9,...,P_L11,P_L12,P_L13,P_L14,P_L15,P_L16,P_L17,P_L18,P_L19,P_L20
Date,,,,,,,,,,,,,,,,,,,,,
2007-08-31,24.35,23.80,23.35,23.70,23.90,23.30,23.35,22.70,22.05,21.85,...,20.95,21.70,22.35,22.30,22.05,22.70,22.85,22.15,22.25,22.85
2007-09-03,24.30,24.35,23.80,23.35,23.70,23.90,23.30,23.35,22.70,22.05,...,20.80,20.95,21.70,22.35,22.30,22.05,22.70,22.85,22.15,22.25
2007-09-04,24.30,24.30,24.35,23.80,23.35,23.70,23.90,23.30,23.35,22.70,...,21.85,20.80,20.95,21.70,22.35,22.30,22.05,22.70,22.85,22.15
2007-09-05,24.35,24.30,24.30,24.35,23.80,23.35,23.70,23.90,23.30,23.35,...,22.05,21.85,20.80,20.95,21.70,22.35,22.30,22.05,22.70,22.85
2007-09-06,24.50,24.35,24.30,24.30,24.35,23.80,23.35,23.70,23.90,23.30,...,22.70,22.05,21.85,20.80,20.95,21.70,22.35,22.30,22.05,22.70

In [84]:
#Import Fundamentals Data
fund_data = pd.read_csv('new_index_data.csv', skiprows=1, parse_dates=['Date']).set_index(['Date'])
fund_data.head()

,Close,High,Low,Ask,Bid,20D Vol,MA5,MA15,MA12,MA20,...,DY_LTM,DY_NTM,ADV_VOL,PAYOUT,ANALYST_SENTIMENT,EPS_GRW_FY1,EPS_GRW_FY2,PE_NTM,PE_LTM,C2D_LTM
Date,,,,,,,,,,,,,,,,,,,,,
2007-08-31,24.35,24.35,24.35,24.35,24.35,2.367823,23.82,22.841667,22.696667,22.6225,...,2.782797,2.880128,99.419898,48.051962,1.909071,30.724490,2.717280,16.695058,16.975805,58.050474
2007-09-03,24.30,24.30,24.30,24.30,24.30,2.266743,23.90,23.120832,22.830000,22.7250,...,2.784563,2.892308,11.570023,48.305678,1.835359,31.005439,1.876752,16.709085,16.925571,58.154835
2007-09-04,24.30,24.30,24.30,24.30,24.30,2.259649,24.02,23.412500,22.960000,22.8325,...,2.784339,2.894377,69.555725,48.307102,1.725886,31.040968,1.891823,16.697662,16.919413,58.177640
2007-09-05,24.35,24.35,24.35,24.35,24.35,2.172140,24.22,23.620832,23.136667,22.9075,...,2.767348,2.867314,24.265623,48.267351,1.741908,30.716929,1.878484,16.841225,17.017692,58.195446
2007-09-06,24.50,24.50,24.50,24.50,24.50,2.160638,24.36,23.825000,23.373333,22.9975,...,2.775339,2.878880,88.845002,48.288397,1.696151,31.336520,1.861943,16.780660,16.975485,58.224743

In [85]:
#Import Global index data
idx_data = pd.read_csv('indices.csv', skiprows=1, parse_dates=['Date']).set_index(['Date'])
idx_data.head()

,Hang Seng Index,SSE Composite Index,ASX All Ordinaries,India S&P BSE SENSEX,TOPIX,KOSPI Composite Index,Taiwan TAIEX,FTSE Bursa Malaysia KLCI,FTSE Straits Times Index,Philippines PSE PSEi,...,Turkey BIST 100,S&P 500,DJ Industrial Average,Colombia IGBC,Canada S&P/TSX Composite,Brazil Bovespa Index,Mexico IPC,Israel TA-125,Saudi Arabia All Share (TASI),FTSE JSE All Share
Date,,,,,,,,,,,,,,,,,,,,,
2007-08-31,23984.14,5218.825,6248.3,15318.60,1608.25,1873.24,8982.16,1273.93,3328.43,3365.29,...,50198.60,1473.99,13357.74,10728.74,13660.48,54637.24,30347.86,1034.67,8226.97,28660.35
2007-09-03,23904.09,5321.055,6272.5,15422.05,1605.44,1881.81,8979.96,1284.14,3321.36,3369.14,...,49936.94,1473.99,13357.74,10750.79,13660.48,54832.51,30797.60,1047.33,8017.54,28887.48
2007-09-04,23886.07,5294.045,6297.1,15465.40,1596.74,1874.74,8922.98,1283.75,3308.81,3312.30,...,50032.59,1489.42,13448.86,10880.85,13755.23,55250.47,30932.71,1054.69,7878.70,29051.96
2007-09-05,24069.17,5310.716,6274.3,15446.15,1569.47,1865.59,8913.85,1297.93,3375.02,3342.35,...,49421.38,1472.29,13305.47,10819.91,13683.28,54407.83,30809.55,1048.70,7853.66,28696.67
2007-09-06,24050.40,5393.660,6265.3,15616.31,1568.52,1888.81,9017.08,1298.85,3399.49,3326.53,...,49601.39,1478.55,13363.35,10844.40,13795.69,54569.00,30816.95,1033.23,7853.66,28850.19

## Step 2: Pre-process Raw Data
1. Generate labels
2. Apply lags to global index data
3. Normalize features

In [86]:
#Generate Labels from Price History Data
#Generate UP/DOWN labels from log change
cutoff_perc = 0.0005 #0.05% return as cuttoff to define UP label
lag = 1 #forward returns

labels = np.zeros([price_hist_data.shape[0]])

#Caluclate log-returns
ret = np.log(price_hist_data['P'].shift(-lag)/price_hist_data['P'])
labels = [1 if r > cutoff_perc else 0 for r in ret]

In [87]:
#Applying lags to index data
#Seperate the indices into 2 classes - lag or no_lag
no_lag = [0, 1, 2, 4, 5, 6, 9, 10]
lag = [i for i in range(0,idx_data.shape[1]) if i not in no_lag]

#Processing the dataset by applying appropriate lags
lagged_data = idx_data.iloc[:,lag].shift(1)
idx_data = pd.concat([idx_data.iloc[:,no_lag], lagged_data], axis=1)

In [88]:
#Remove first row
idx_data = idx_data.iloc[1:, :]
price_hist_data = price_hist_data.iloc[1:, :]
fund_data = fund_data.iloc[1:, :]
labels=labels[1:]

In [89]:
#Check Dimensions to make sure everythings right before continuing..
print("Shape of idx_data: ", idx_data.shape)
print("Shape of price_hist_data: ", price_hist_data.shape)
print("Shape of fund_data: ", fund_data.shape)
print("Shape of labels: ", len(labels))

Shape of idx_data:  (2483, 42)
Shape of price_hist_data:  (2483, 21)
Shape of fund_data:  (2483, 30)
Shape of labels:  2483

In [90]:
#Training data
X = np.array(pd.concat([price_hist_data, idx_data, fund_data], axis=1))
y = to_categorical(labels, num_classes=2)

In [91]:
#Checking whether there are NAs
[np.sum(np.isnan(X), axis=0) > 0] == True

False

In [102]:
X.shape[1]

93

## Step 3: Split training, validation and test set

In this stage we have a look-ahead bias free set of data (X) and the labels y. Next, we will need to:
- Normalize the input data. To avoid look ahead bias, we will z-score the features, using ONLY the training set.
- Next, generate input data into LSTM network. We will need an overlapping sequence at 1-day window as input samples. Specifically suppose the *timestep* is 240, we will have a list of array consists of *number of rows of X* - 240 entries, each element has dimentions (240, num_of_features)

In [93]:
#Function to split raw data into training, validation and test set, returns a numpy array.
def split_data(input_data=[], train_size=0.8, val_size=0.2, test_size=0):
    
    #------------------------------------------------
    #PARAM: input_data: numpy nd array
    #PARAM: training_size: size of training set in decimal
    #PARAM: val_size: size of validation set in decimal
    #PARAM: test_size: size of test set in decimal
    #OUTPUT: tuple (train_set, validation_set, test_set)
    #------------------------------------------------
    
    #First check whether traing_size + val_size + test_size = 1 and each of the entries are positive
    assert(train_size + val_size + test_size==1), "Sum of training, validation and test size needs to be 1!"
    assert(train_size * val_size * test_size > 0), "Sizes have to be positive!"
    
    #Check input_data type is numpy array, after casting
    if type(input_data) != 'numpy.ndarray':
        input_data = np.array(input_data) 
    
    assert(isinstance(input_data, np.ndarray)), "Input has to be a numpy array!"
    
    
    #Calculate cut-off points
    train_cut_index = int(train_size * input_data.shape[0])
    val_cut_index = train_cut_index + int(val_size * input_data.shape[0])
    
    #Split the data
    if len(input_data.shape) == 1:
        train, val, test = input_data[:train_cut_index], input_data[train_cut_index:val_cut_index], input_data[val_cut_index:]
    else:
        train, val, test = input_data[:train_cut_index,:], input_data[train_cut_index:val_cut_index, :], input_data[val_cut_index:, :]
    
    return train, val, test

In [94]:
#------------
#TEST OUTPUT
#------------
#Split data
X_train, X_val, X_test = split_data(X, train_size=0.7, val_size=0.15, test_size=0.15)
y_train, y_val, y_test = split_data(y, train_size=0.7, val_size=0.15, test_size=0.15)
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(1738, 93)
(372, 93)
(373, 93)
(1738, 2)
(372, 2)
(373, 2)

In [95]:
#Function to re-structure the data to get batches. Re-shape the data to have overlapping training set for time-series learning.
def get_inputs_yield(input_data, labels, timesteps):
    
    #First get the total number of samples generated
    n_seq = input_data.shape[0] - timesteps + 1
    
    #features, classes
    n_dim = input_data.shape[1]
    n_class = labels.shape[1]
    
    #Generate the sequences
    for ii in range(0, n_seq):        
        #Getting the overlapping samples
        yield np.reshape(scale(input_data[ii:ii+timesteps, :]), (-1, timesteps, n_dim)), np.reshape(labels[ii:ii+timesteps, :], (-1, timesteps, n_class))

In [126]:
#Function to re-structure the data to get batches. Re-shape the data to have overlapping training set for time-series learning.
def get_inputs(input_data, labels, batch_size, timesteps):
    
    #First get the total number of samples generated
    n_seq = input_data.shape[0] - timesteps + 1
    
    #features, classes
    n_dim = input_data.shape[1]
    n_class = labels.shape[1]
    
    #Calculate the number of batches possible
    n_samples = n_seq * timesteps
    n_batches = n_samples // (batch_size * timesteps)

    for jj in range(0, n_batches + 1):
    #Generate the sequences
        output = []
        targets = []

        #if jj == n_batches:
            
            #output.append([input_data[jj*batch_size:, :]])
            #targets.append([labels[jj*batch_size:, :]])            
            #yield np.vstack(output), np.vstack(targets  )
            
        #else:            
        for ii in range(jj * batch_size, (jj + 1) * batch_size):                    
            #Getting the overlapping samples
            output.append([input_data[ii:ii + timesteps, :]])
            targets.append([labels[ii:ii+timesteps, :]])

        yield np.vstack(output), np.vstack(targets)

In [127]:
#------------
#TEST OUTPUT
#------------
#get inputs
t = np.reshape(np.arange(1,51), (10,5))
s = np.reshape(np.arange(1,21), (10,2))

for (x, y) in get_inputs(t,s, 3, 4):
    print('training size: ', x.shape)
    print('training: \n', x)
    print('label size: ', y.shape)
    print('labels: \n', y)
    
    

#print(test_train[0:1])
#print(test_label[0:1])
#print(t)
#print(test_train.shape)
#print(test_label.shape)
#print(test_train)
#test_train.reshape((-1, 4, 5))

training size:  (3, 4, 5)
training:
 [[[ 1  2  3  4  5]
  [ 6  7  8  9 10]
  [11 12 13 14 15]
  [16 17 18 19 20]]

 [[ 6  7  8  9 10]
  [11 12 13 14 15]
  [16 17 18 19 20]
  [21 22 23 24 25]]

 [[11 12 13 14 15]
  [16 17 18 19 20]
  [21 22 23 24 25]
  [26 27 28 29 30]]]
label size:  (3, 4, 2)
labels:
 [[[ 1  2]
  [ 3  4]
  [ 5  6]
  [ 7  8]]

 [[ 3  4]
  [ 5  6]
  [ 7  8]
  [ 9 10]]

 [[ 5  6]
  [ 7  8]
  [ 9 10]
  [11 12]]]
training size:  (3, 4, 5)
training:
 [[[16 17 18 19 20]
  [21 22 23 24 25]
  [26 27 28 29 30]
  [31 32 33 34 35]]

 [[21 22 23 24 25]
  [26 27 28 29 30]
  [31 32 33 34 35]
  [36 37 38 39 40]]

 [[26 27 28 29 30]
  [31 32 33 34 35]
  [36 37 38 39 40]
  [41 42 43 44 45]]]
label size:  (3, 4, 2)
labels:
 [[[ 7  8]
  [ 9 10]
  [11 12]
  [13 14]]

 [[ 9 10]
  [11 12]
  [13 14]
  [15 16]]

 [[11 12]
  [13 14]
  [15 16]
  [17 18]]]

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [128]:
timesteps = 200
n_dim = X.shape[1]
n_classes = 2

In [129]:
#Normalize training data
X_train_np, y_train_np = get_inputs(X_train, y_train,timesteps)
X_val_np, y_val_np = get_inputs(X_val, y_val, timesteps)
X_test_np, y_test_np = get_inputs(X_test, y_test, timesteps)

TypeError: get_inputs() missing 1 required positional argument: 'timesteps'

In [ ]:
print(len(X_train_np))
print(len(y_train_np))
print(len(X_val_np))
print(len(y_val_np))
print(len(X_test_np))
print(len(y_test_np))

In [ ]:
print(X_train_np.shape)
print(y_train_np.shape)

In [ ]:
new_train = np.reshape(X_train_np, (-1, timesteps, n_dim))
new_target = np.reshape(y_train_np, (-1, timesteps, n_classes))
new_val_X = np.reshape(X_val_np, (-1, timesteps, n_dim))
new_val_y = np.reshape(y_val_np, (-1, timesteps, n_classes))

## Train Model

In [115]:
#Define Parameters
learning_rate = 0.001
epochs= 5
loss = 'binary_crossentropy'
dropout=0.5
batch_size = 128
timesteps = 200
n_dim = X.shape[1]
n_classes = 2

In [116]:
#Optimizer
optimizer = optimizers.Adam(lr=learning_rate)

In [117]:
#Model Architect
#-----------------

model = Sequential()

#Stack LSTM Cells
model.add(LSTM(5, input_shape=(timesteps, n_dim), return_sequences=True, stateful=False))

#model.add(LSTM(50, return_sequences=True))

#model.add(Dense(5, activation='relu'))

#model.add(Dense(32, activation='relu'))

model.add(Dense(2, activation='sigmoid'))


model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 200, 5)            1980
_________________________________________________________________
dense_4 (Dense)              (None, 200, 2)            12
=================================================================
Total params: 1,992
Trainable params: 1,992
Non-trainable params: 0
_________________________________________________________________

In [118]:
#Compile
model.compile(loss=loss, optimizer=optimizer, metrics=['accuracy'])

In [125]:
for (x,y) in get_inputs(X_train, y_train, batch_size, timesteps):
    print(x.shape)
    print(y.shape)

#Fit
#fitted = model.fit(new_train, new_target, epochs=epochs, 
                    #validation_data=(new_val_X, new_val_y), 
                    #batch_size=158, verbose=1, shuffle=False)

#for e in range(epochs):
    #print("Epoch %d" %e)

#    model.fit_generator(get_inputs(X_train, y_train, batch_size, timesteps), steps_per_epoch=batch_size, 
#                        epochs=epochs, verbose=1, validation_data=get_inputs(X_val, y_val, batch_size, timesteps), validation_steps=1)

(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)
(128, 200, 93)
(128, 200, 2)

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [ ]:
model.evaluate_generator(get_inputs(X_test, y_test, timesteps), 1)
model.predict_generator(get_inputs(X_test, y_test, timesteps), 1)

# Below this line are old codes

## Step 4: Fit model

## Step 5: Evaluate

In [ ]:
### Plot Training vs Validation Curve
plt.figure()
plt.plot(fitted.history['loss'])
plt.plot(fitted.history['val_loss'])
plt.title('Training Loss & Validation Loss')
plt.ylabel('Binary Cross Entropy Loss')
plt.xlabel('Epoch')
plt.legend(['Training Loss', 'Validation Loss'])
plt.show()

In [ ]:
### Plot Training vs Validation Accuracy
plt.figure()
plt.plot(fitted.history['acc'])
plt.plot(fitted.history['val_acc'])
plt.title('Training Accuracy & Validation Accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Training Accuracy', 'Validation Accuracy'])
plt.show()